h1{
    background-color: rgb(54, 92, 79);
font-weight: 150;
list-style-position: outside;
    }
p{
    font-size: x-large;
    border-bottom: 0cap;
    text-decoration-line: overline;
}

img{
    border-radius: 40%
}