h1{
    background-color: rgb(54, 92, 79);
font-weight: 150;
list-style-position: outside;
    }
p{
    font-size: x-large;
    border-bottom: 0cap;
    text-decoration-line: overline;
}

img{
    border-radius: 40%
}
/* ---------- RESET CSS ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ---------- IMPORTAÇÃO da FONTE ---------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

/* ---------- BODY ---------- */

body {
    font-family: 'Poppins', sans-serif;
}


/* ---------- HEADER ---------- */

header {
    position: fixed;
    width: 100%;
    z-index: 99;
}

header nav {
    display: flex;
    align-items: center;
    padding: 1em;
    background: linear-gradient(180deg, rgba(121, 121, 121, 0.5746673669467788) 0%, rgba(255, 255, 255, 0) 80%);
}

header nav .menu {
    display: flex;
    justify-content: space-between;
    width: 40em;
    margin-left: 3em;
}

header nav .menu li {
    transition: 0.3s ease-in-out;
}

header nav .menu li:hover {
    transform: scale(1.2);
}

header nav .menu li {
    margin: 0.5em;
}


/* ---------- MAIN ---------- */

main .topo-container {
    display: flex;
    max-height: 50vw;
    position: relative;
}


main .topo-container img {
    width: 100%;
}


main .topo-texto {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

main .topo-texto h3 {
    font-size: 2rem;
    text-shadow: 0.1em 0.1em 0.3em #333333;
    color: #ffffff;
}

main .topo-texto h1 {
    font-size: 6rem;
    text-shadow: 0.1em 0.1em 0.3em #333;
    color: #ffffff;
}


main .corpo-container {
    display: flex;
    max-width: 100vw;
    text-align: justify;
    margin: 2em;
}

main .corpo-container .autor-container .img-autor {
    width: 10em;
    border-radius: 10%;
}

main .corpo-container .autor-container .nome-autor {
    margin-bottom: 0.5em;
    width: 8em;
}

main .corpo-container .autor-container .desc-autor {
    width: 11em;
}

main .corpo-container .conteudo-container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    gap: 1.5em;
}

main .corpo-container .conteudo-container .titulo-conteudo {
    font-size: 2.5rem;
}

main .corpo-container .conteudo-container .img-conteudo {
    width: 40em;
    margin: auto;
    border-radius: 3%;
}

/* ---------- ASIDE ---------- */

aside {
    position: fixed;
    top: 0;
    right: 0;
    width: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

aside ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

aside ul li a .icone {
    width: 3em;
    transition: 0.3s ease-in-out;
}

aside ul li a .icone:hover {
    transform: scale(1.2);
}

/* ---------- FOOTER ---------- */

footer {
    max-width: 100vw;
    margin-top: 2em;
}

footer .carrossel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    max-height: 10vw;
}

footer .carrossel-container .logo-carrossel {
    height: 10em;
}